body {
    background-color: lightblue;
    margin-left: 20px;
}

h1 {
    color: navy;
    margin-left: 20px;
}

input.num {
    width: 40px;
    text-align: right;
}

td.num {
    width: 60px;
    text-align: right;
}

td.hed {
    width: 150px;
}

th.num {
    width: 60px;
    text-align: right;
}

th.numsrt {
    cursor: pointer;
    text-align: right;
}

th.srt {
    cursor: pointer;
}

tbody tr:nth-child(n+1) {
    /*color: red; */
}
/*
tr:nth-child(n+2) {
    background-color: white; 
}
*/
input.info {
    width: 40px;
    text-align: right;
    /* border-style: none; */
}

input.num2 {
    width: 100px;
    text-align: right;
}

th.rako {
    margin-left: 50px;
    margin-right: 50px;
}

table.rako {
    margin-left: 50px;
    margin-right: 50px;
}

select.txt {
    width: 250px;
}

input.txt {
    width: 250px;
}

div.admin {
    margin: 50px;
}

#huom {
    color:red;
    margin:10px;
}
