<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
   <head>
      <title>New</title>
   </head>
   <body>
      <!-- Include _menu.html -->
      <th:block th:include="/_menu"></th:block>
       
      <h1>Luo uusi käyttäjä</h1>
       
      <!-- /login?error=true -->
      <div th:if="${#request.getParameter('error') == 'true'}"
            style="color:red;margin:10px 0px;">
         Ei tääne ny ihan kaikki pääse.<br />
         Reason :
         <span th:if="${#session!= null and #session.getAttribute('SPRING_SECURITY_LAST_EXCEPTION') != null}"
            th:utext="${#session.getAttribute('SPRING_SECURITY_LAST_EXCEPTION').message}">
                Static summary
         </span>
           
      </div>
      <div>
          <h3 th:if="${message != null}" th:utext="${message}" style="color: red;"></h3>
      </div>
     
      <h3>Anna uudelle käyttäjälle käyttäjätunnus ja salasana:</h3>
      <form name='f' th:action="@{/addnew}" method='POST'>
         <table>
            <tr>
               <td>User:</td>
               <td><input type='text' name='username' th:if="${user != null}" th:attr="value=${user.username}" th:required="required"></td>
            </tr>
            <tr>
               <td>Password:</td>
               <td><input type='password' name='password' th:if="${user != null}" th:attr="value=${user.password}" th:required="required"/></td>
            </tr>
            <tr>
               <td>Password again:</td>
               <td><input type='password' name='password2' value=${user.password2} th:attr="value=''"/></td>
            </tr>
             <tr>
               <td>Role:</td>
               <td><input type='text' name='userrole' th:if="${user != null}" th:attr="value=${user.userrole}" th:required="required" placeholder='(2)'></td>
            </tr>
            <tr>
               <td><input name="submit" type="submit" value="submit" /></td>
            </tr>
         </table>
      </form>  
       
   </body>
   
</html>