<table>
	<thead>
		<th scope="col">etuysi</th>
		<th scope="col">takaysi</th>
	</thead>
	<tbody>
		<tr>
			<td> <#-- etuysi -->
				<table>
					<thead>
						<th scope="col">reikä</th>
						<th scope="col">lyönnit</th>
						<th scope="col">pisteet</th>
					</thead>
					<tbody>
						<tr>
							<td>1.</td>
							<td>
								<input type='text' maxlength='2' class='num' name='h1' id='h1' onkeyup="seuraava(event, 'h2')" <#if (kierros.h1)??> value='${kierros.h1}' </#if> ></td>
							<td>'p1'
								<#if (kierros.p1)??> '${kierros.p1}' </#if>
							</td>
						</tr>
						<tr>
							<td>2.</td>
							<td>
								<input type='text' maxlength='2' class='num' name='h2' id='h2' onkeyup="seuraava(event, 'h3')" <#if (kierros.h2)??> value='${kierros.h2}' </#if> ></td>
							<td>'p2'</td>
						</tr>
						<tr>
							<td>3.</td>
							<td>
								<input type='text' maxlength='2' class='num' name='h3' id='h3' onkeyup="seuraava(event, 'h4')" <#if (kierros.h3)??> value='${kierros.h3}' </#if> ></td>
							<td>'p3'</td>
						</tr>
						<tr>
							<td>4.</td>
							<td>
								<input type='text' maxlength='2' class='num' name='h4' id='h4' onkeyup="seuraava(event, 'h5')" <#if (kierros.h4)??> value='${kierros.h4}' </#if> ></td>
							<td>'p4'</td>
						</tr>
						<tr>
							<td>5.</td>
							<td>
								<input type='text' maxlength='2' class='num' name='h5' id='h5' onkeyup="seuraava(event, 'h6')" <#if (kierros.h5)??> value='${kierros.h5}' </#if> ></td>
							<td>'p5'</td>
						</tr>
						<tr>
							<td>6.</td>
							<td>
								<input type='text' maxlength='2' class='num' name='h6' id='h6' onkeyup="seuraava(event, 'h7')" <#if (kierros.h6)??> value='${kierros.h6}' </#if> ></td>
							<td>'p6'</td>
						</tr>
						<tr>
							<td>7.</td>
							<td>
								<input type='text' maxlength='2' class='num' name='h7' id='h7' onkeyup="seuraava(event, 'h8')" <#if (kierros.h7)??> value='${kierros.h7}' </#if> ></td>
							<td>'p7'</td>
						</tr>
						<tr>
							<td>8.</td>
							<td>
								<input type='text' maxlength='2' class='num' name='h8' id='h8' onkeyup="seuraava(event, 'h9')" <#if (kierros.h8)??> value='${kierros.h8}' </#if> ></td>
							<td>'p8'</td>
						</tr>
						<tr>
							<td>9.</td>
							<td>
								<input type='text' maxlength='2' class='num' name='h9' id='h9' onkeyup="seuraava(event, 'h10')" <#if (kierros.h9)??> value='${kierros.h9}' </#if> ></td>
							<td>'p9'</td>
						</tr>
						<tr>
							<td>1-9</td>
							<td>
								<input type='text' maxlength='3' class='num' name='hout' id='hout' readonly <#if (kierros.hout)??> value='${kierros.hout}' </#if> ></td>
							<td>'p_out'</td>
						</tr>
					</tbody>
				</table>
			</td>

			<td> <#-- takaysi -->
				<table>
					<thead>
						<th scope="col">reikä</th>
						<th scope="col">lyönnit</th>
						<th scope="col">pisteet</th>
					</thead>
					<tbody>
						<tr>
							<td>10.</td>
							<td>
								<input type='text' maxlength='2' class='num' name='h10' id='h10' onkeyup="seuraava(event, 'h11')" <#if (kierros.h10)??> value='${kierros.h10}' </#if> ></td>
							<td>'p10'</td>
						</tr>
						<tr>
							<td>11.</td>
							<td>
								<input type='text' maxlength='2' class='num' name='h11' id='h11' onkeyup="seuraava(event, 'h12')" <#if (kierros.h11)??> value='${kierros.h11}' </#if> ></td>
							<td>'p11'</td>
						</tr>
						<tr>
							<td>12.</td>
							<td>
								<input type='text' maxlength='2' class='num' name='h12' id='h12' onkeyup="seuraava(event, 'h13')" <#if (kierros.h12)??> value='${kierros.h12}' </#if> ></td>
							<td>'p12'</td>
						</tr>
						<tr>
							<td>13.</td>
							<td>
								<input type='text' maxlength='2' class='num' name='h13' id='h13' onkeyup="seuraava(event, 'h14')" <#if (kierros.h13)??> value='${kierros.h13}' </#if> ></td>
							<td>'p13'</td>
						</tr>
						<tr>
							<td>14.</td>
							<td>
								<input type='text' maxlength='2' class='num' name='h14' id='h14' onkeyup="seuraava(event, 'h15')" <#if (kierros.h14)??> value='${kierros.h14}' </#if> ></td>
							<td>'p14'</td>
						</tr>
						<tr>
							<td>15.</td>
							<td>
								<input type='text' maxlength='2' class='num' name='h15' id='h15' onkeyup="seuraava(event, 'h16')" <#if (kierros.h15)??> value='${kierros.h15}' </#if> ></td>
							<td>'p15'</td>
						</tr>
						<tr>
							<td>16.</td>
							<td>
								<input type='text' maxlength='2' class='num' name='h16' id='h16' onkeyup="seuraava(event, 'h17')" <#if (kierros.h16)??> value='${kierros.h16}' </#if> ></td>
							<td>'p16'</td>
						</tr>
						<tr>
							<td>17.</td>
							<td>
								<input type='text' maxlength='2' class='num' name='h17' id='h17' onkeyup="seuraava(event, 'h18')" <#if (kierros.h17)??> value='${kierros.h17}' </#if> ></td>
							<td>'p17'</td>
						</tr>
						<tr>
							<td>18.</td>
							<td>
								<input type='text' maxlength='2' class='num' name='h18' id='h18' onkeyup="seuraava(event, 'merkitsija')" <#if (kierros.h18)??> value='${kierros.h18}' </#if> ></td>
							<td>'p18'</td>
						</tr>
						<tr>
							<td>10-18</td>
							<td>
								<input type='text' maxlength='3' class='num' name='hin' id='hin' readonly <#if (kierros.hin)??> value='${kierros.hin}' </#if> ></td>
							<td>'p_in'</td>
						</tr>
						<tr>
							<td>yhteensä</td>
							<td>
								<input type='text' maxlength='3' class='num' name='yhteensa' id='yhteensa' readonly <#if (kierros.yhteensa)??> value='${kierros.yhteensa}' </#if> ></td>
							<td>'p_yht'</td>
						</tr>
					</tbody>
				</table>
			</td>
		</tr>
		</tbody>
</table>